.box{
    display:flex;
    width: 50%;
    height: 100px;
    background-color: crimson;
    border-style: solid;
    inline-size: 5%;
}
body{
    background-color:pink;
    display:flex;
    justify-content: center;
    align-items: center;
}